In [19]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
from config import (ServerName, UserName, Password, port, DataBase)

### Store CSV into DataFrame

In [20]:
csv_file = "../Resources/economic.csv"
economic_df = pd.read_csv(csv_file)
economic_df.head()

,Country Name,Country Code,Series Name,Series Code,2000 [YR2000],2005 [YR2005],2010 [YR2010],2015 [YR2015],2016 [YR2016]
0,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,..,11.1752702416587,8.43329048161792,1.31004040372002,2.36671191565063
1,Afghanistan,AFG,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,..,389.416357791097,553.300289383064,620.05652498092,617.889972323552
2,Afghanistan,AFG,"Inflation, consumer prices (annual %)",FP.CPI.TOTL.ZG,..,12.68626872,0.892536936,-1.533846583,2.169452176
3,Albania,ALB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,6.66662049881369,5.72081994678555,3.71005779297435,2.2187520539882,3.35215921082479
4,Albania,ALB,GDP per capita (constant 2005 US$),NY.GDP.PCAP.KD,2337.9423863713,3189.39511117692,4094.35883191918,4524.64443153606,4683.80021257139

### Create new data with select columns

In [21]:
new_economic_df = economic_df[['Country Name', 'Series Name', '2000 [YR2000]', '2005 [YR2005]', '2010 [YR2010]', '2015 [YR2015]', '2016 [YR2016]']].copy()
new_economic_df.head()

,Country Name,Series Name,2000 [YR2000],2005 [YR2005],2010 [YR2010],2015 [YR2015],2016 [YR2016]
0,Afghanistan,GDP growth (annual %),..,11.1752702416587,8.43329048161792,1.31004040372002,2.36671191565063
1,Afghanistan,GDP per capita (constant 2005 US$),..,389.416357791097,553.300289383064,620.05652498092,617.889972323552
2,Afghanistan,"Inflation, consumer prices (annual %)",..,12.68626872,0.892536936,-1.533846583,2.169452176
3,Albania,GDP growth (annual %),6.66662049881369,5.72081994678555,3.71005779297435,2.2187520539882,3.35215921082479
4,Albania,GDP per capita (constant 2005 US$),2337.9423863713,3189.39511117692,4094.35883191918,4524.64443153606,4683.80021257139

### Rename Columns

In [22]:
new_economic_df = new_economic_df.rename(columns={"Country Name" : "Country", "2000 [YR2000]": 2000, "2005 [YR2005]": 2005, "2010 [YR2010]": 2010, 
                                                  "2015 [YR2015]": 2015, "2016 [YR2016]": 2016})
new_economic_df

,Country,Series Name,2000,2005,2010,2015,2016
0,Afghanistan,GDP growth (annual %),..,11.1752702416587,8.43329048161792,1.31004040372002,2.36671191565063
1,Afghanistan,GDP per capita (constant 2005 US$),..,389.416357791097,553.300289383064,620.05652498092,617.889972323552
2,Afghanistan,"Inflation, consumer prices (annual %)",..,12.68626872,0.892536936,-1.533846583,2.169452176
3,Albania,GDP growth (annual %),6.66662049881369,5.72081994678555,3.71005779297435,2.2187520539882,3.35215921082479
4,Albania,GDP per capita (constant 2005 US$),2337.9423863713,3189.39511117692,4094.35883191918,4524.64443153606,4683.80021257139
...,...,...,...,...,...,...,...
726,NaN,NaN,NaN,NaN,NaN,NaN,NaN
727,NaN,NaN,NaN,NaN,NaN,NaN,NaN
728,NaN,NaN,NaN,NaN,NaN,NaN,NaN
729,Data from database: Jobs,NaN,NaN,NaN,NaN,NaN,NaN
730,Last Updated: 10/28/2019,NaN,NaN,NaN,NaN,NaN,NaN

## Melt Years

In [23]:
new_economic_df = pd.melt(new_economic_df, id_vars=['Country', "Series Name"], value_vars=[2000, 2005, 2010, 2015,2016])
new_economic_df

,Country,Series Name,variable,value
0,Afghanistan,GDP growth (annual %),2000,..
1,Afghanistan,GDP per capita (constant 2005 US$),2000,..
2,Afghanistan,"Inflation, consumer prices (annual %)",2000,..
3,Albania,GDP growth (annual %),2000,6.66662049881369
4,Albania,GDP per capita (constant 2005 US$),2000,2337.9423863713
...,...,...,...,...
3650,NaN,NaN,2016,NaN
3651,NaN,NaN,2016,NaN
3652,NaN,NaN,2016,NaN
3653,Data from database: Jobs,NaN,2016,NaN
3654,Last Updated: 10/28/2019,NaN,2016,NaN

## Rename Year Column

In [24]:
new_economic_df = new_economic_df.rename(columns={"Country Name": "Country", "variable": "Year"})
new_economic_df

,Country,Series Name,Year,value
0,Afghanistan,GDP growth (annual %),2000,..
1,Afghanistan,GDP per capita (constant 2005 US$),2000,..
2,Afghanistan,"Inflation, consumer prices (annual %)",2000,..
3,Albania,GDP growth (annual %),2000,6.66662049881369
4,Albania,GDP per capita (constant 2005 US$),2000,2337.9423863713
...,...,...,...,...
3650,NaN,NaN,2016,NaN
3651,NaN,NaN,2016,NaN
3652,NaN,NaN,2016,NaN
3653,Data from database: Jobs,NaN,2016,NaN
3654,Last Updated: 10/28/2019,NaN,2016,NaN

### Replace ".." with Zero (0) and drop NA

In [25]:
new_economic_df = new_economic_df.replace("..", 0)
new_economic_df

,Country,Series Name,Year,value
0,Afghanistan,GDP growth (annual %),2000,0
1,Afghanistan,GDP per capita (constant 2005 US$),2000,0
2,Afghanistan,"Inflation, consumer prices (annual %)",2000,0
3,Albania,GDP growth (annual %),2000,6.66662049881369
4,Albania,GDP per capita (constant 2005 US$),2000,2337.9423863713
...,...,...,...,...
3650,NaN,NaN,2016,NaN
3651,NaN,NaN,2016,NaN
3652,NaN,NaN,2016,NaN
3653,Data from database: Jobs,NaN,2016,NaN
3654,Last Updated: 10/28/2019,NaN,2016,NaN

### Reorganize Rows and Columns with Pivot Tables

In [26]:
new_economic_df = pd.pivot_table(new_economic_df, values='value', index=['Country', 'Year'],
                     columns=['Series Name'], aggfunc=np.sum)
new_economic_df

Series Name      GDP growth (annual %) GDP per capita (constant 2005 US$)  \
Country     Year
Afghanistan 2000                     0                                  0
            2005      11.1752702416587                   389.416357791097
            2010      8.43329048161792                   553.300289383064
            2015      1.31004040372002                    620.05652498092
            2016      2.36671191565063                   617.889972323552
...                                ...                                ...
Zimbabwe    2000     -3.05918962553469                    1261.1630883256
            2005      -5.7110838330468                   811.562954376746
            2010      12.5810269716888                     719.9795162923
            2015      1.68959459207842                    933.50326674854
            2016     0.615713754356918                   917.563719684227

Series Name      Inflation, consumer prices (annual %)
Country     Year
Afghanistan 2000                                     0
            2005                           12.68626872
            2010                           0.892536936
            2015                          -1.533846583
            2016                           2.169452176
...                                                ...
Zimbabwe    2000                           55.86645207
            2005                           302.1169963
            2010                           3.034478884
            2015                          -2.398709959
            2016                           -1.55978908

[1210 rows x 3 columns]

### Rename Remaining Columns

In [27]:
new_economic_df = new_economic_df.rename(columns={"GDP growth (annual %)": "GDP growth", 
                                                  "GDP per capita (constant 2005 US$)": "GDP per capita",
                                                  "Inflation, consumer prices (annual %)":"Inflation"})
new_economic_df

Series Name              GDP growth    GDP per capita     Inflation
Country     Year
Afghanistan 2000                  0                 0             0
            2005   11.1752702416587  389.416357791097   12.68626872
            2010   8.43329048161792  553.300289383064   0.892536936
            2015   1.31004040372002   620.05652498092  -1.533846583
            2016   2.36671191565063  617.889972323552   2.169452176
...                             ...               ...           ...
Zimbabwe    2000  -3.05918962553469   1261.1630883256   55.86645207
            2005   -5.7110838330468  811.562954376746   302.1169963
            2010   12.5810269716888    719.9795162923   3.034478884
            2015   1.68959459207842   933.50326674854  -2.398709959
            2016  0.615713754356918  917.563719684227   -1.55978908

[1210 rows x 3 columns]

In [28]:
new_economic_df = new_economic_df[[ 'GDP growth', 'Inflation']].copy()
new_economic_df

Series Name              GDP growth     Inflation
Country     Year
Afghanistan 2000                  0             0
            2005   11.1752702416587   12.68626872
            2010   8.43329048161792   0.892536936
            2015   1.31004040372002  -1.533846583
            2016   2.36671191565063   2.169452176
...                             ...           ...
Zimbabwe    2000  -3.05918962553469   55.86645207
            2005   -5.7110838330468   302.1169963
            2010   12.5810269716888   3.034478884
            2015   1.68959459207842  -2.398709959
            2016  0.615713754356918   -1.55978908

[1210 rows x 2 columns]

In [29]:
new_economic_df.to_csv()

'Country,Year,GDP growth,Inflation\nAfghanistan,2000,0,0\nAfghanistan,2005,11.1752702416587,12.68626872\nAfghanistan,2010,8.43329048161792,0.892536936\nAfghanistan,2015,1.31004040372002,-1.533846583\nAfghanistan,2016,2.36671191565063,2.169452176\nAlbania,2000,6.66662049881369,0.050018136\nAlbania,2005,5.72081994678555,2.366581957\nAlbania,2010,3.71005779297435,3.552267388\nAlbania,2015,2.2187520539882,1.910016978\nAlbania,2016,3.35215921082479,1.282798834\nAlgeria,2000,3.81967849559879,0.339163189\nAlgeria,2005,5.90779126808133,1.382446567\nAlgeria,2010,3.63414535334246,3.913043478\nAlgeria,2015,3.76346695783126,4.784976963\nAlgeria,2016,3.29999999975597,6.397714109\nAmerican Samoa,2000,0,0\nAmerican Samoa,2005,-0.401606425702823,0\nAmerican Samoa,2010,0.442477876106182,0\nAmerican Samoa,2015,1.24804992199688,0\nAmerican Samoa,2016,-2.61941448382126,0\nAndorra,2000,3.52836129711109,0\nAndorra,2005,7.39698271536501,0\nAndorra,2010,-5.35882577533336,0\nAndorra,2015,0.842203518374134,0\nAndorra,2016,1.8891243866394,0\nAngola,2000,3.05462423372167,324.9968716\nAngola,2005,20.9070270373719,22.96374444\nAngola,2010,3.45287464846986,14.4705412\nAngola,2015,2.99974749314353,10.27932672\nAngola,2016,-0.813494095515892,34.7361593\nAntigua and Barbuda,2000,6.69174238194239,0.771779797\nAntigua and Barbuda,2005,6.41240516399535,2.098751967\nAntigua and Barbuda,2010,-7.20002446135504,3.370025402\nAntigua and Barbuda,2015,4.06021896269833,0.968993459\nAntigua and Barbuda,2016,5.34247943486722,-0.489437796\nArab World,2000,5.35779607433535,1.8537903535\nArab World,2005,5.7224550587823,3.493685346\nArab World,2010,4.74892497911385,3.950078759\nArab World,2015,3.27754176670597,1.696950405\nArab World,2016,3.00469468291831,2.76846605\nArgentina,2000,-0.78899893905691,-0.935939412\nArgentina,2005,8.85165992013435,9.639399546\nArgentina,2010,10.1253981561002,10.78011543\nArgentina,2015,2.73115982828946,0\nArgentina,2016,-1.82254217028903,0\nArmenia,2000,5.89999999860015,-0.790883769\nArmenia,2005,13.8657112535004,0.642343268\nArmenia,2010,2.1999999991457,8.181575544\nArmenia,2015,3.20000000212642,3.726586028\nArmenia,2016,0.199999997770945,-1.271210454\nAruba,2000,-0.364695778713454,4.044021312\nAruba,2005,0.380390971382511,3.395625246\nAruba,2010,0,2.07773902\nAruba,2015,0,0.476485008\nAruba,2016,0,-0.893020019\nAustralia,2000,3.94318908229896,4.475183076\nAustralia,2005,3.19031634041626,2.668732782\nAustralia,2010,2.05294200395332,2.845225682\nAustralia,2015,2.35113644074406,1.508366722\nAustralia,2016,2.82731051096303,1.276990945\nAustria,2000,3.37572197324998,2.395185512\nAustria,2005,2.24406681223554,2.304765879\nAustria,2010,1.83709459152502,1.813535031\nAustria,2015,1.09185423166194,0.896567005\nAustria,2016,1.45091543821485,0.891590693\nAzerbaijan,2000,11.0999992535406,1.805003038\nAzerbaijan,2005,26.4000008082431,9.679507327\nAzerbaijan,2010,4.85433932383958,5.667923129\nAzerbaijan,2015,1.0999998090951,4.171965726\nAzerbaijan,2016,-3.10000020204575,4.179993538\n"Bahamas, The",2000,4.14924301720671,1.606329417\n"Bahamas, The",2005,3.39535559727943,1.591606181\n"Bahamas, The",2010,1.53877740677106,1.344027384\n"Bahamas, The",2015,1.04495952423387,1.870807743\n"Bahamas, The",2016,-1.68954985564559,-0.34637693\nBahrain,2000,5.29999479407712,-0.704852953\nBahrain,2005,6.768939708829,2.586206897\nBahrain,2010,4.33440708785902,1.961884683\nBahrain,2015,2.86196782508222,1.835993697\nBahrain,2016,3.21593363864166,2.798520013\nBangladesh,2000,5.2932947184604,2.208256209\nBangladesh,2005,6.53594494052352,7.046618162\nBangladesh,2010,5.57180227396866,8.126676392\nBangladesh,2015,6.55263331602802,6.19428023\nBangladesh,2016,7.11346522765494,5.513525727\nBarbados,2000,2.29999999999981,2.435813035\nBarbados,2005,3.99999999999989,6.082187295\nBarbados,2010,0.300000000000452,5.824218533\nBarbados,2015,0.900000000000389,-1.061216469\nBarbados,2016,1.99999999999972,0\nBelarus,2000,5.80000349817178,168.6202359\nBelarus,2005,9.40000166844635,10.33887946\nBelarus,2010,7.79369790497849,7.735748043\nBelarus,2015,-3.82956936585582,13.53448976\nBelarus,2016,-2.52645060629638,11.83658077\nBelgium,2000,3.63365201492995,2.54463963\nBelgium,2005,2.09427270847185,2.784303489\nBelgium,2010,2.74421327182894,2.189218922\nBelgium,2015,1.42695680945808,0.558102452\nBelgium,2016,1.41229201545339,1.972249752\nBelize,2000,13.0387621268347,3.067439669\nBelize,2005,2.57874203064038,-1.104310444\nBelize,2010,3.32444221967359,0.917977379\nBelize,2015,3.79499195517916,-0.885281552\nBelize,2016,-0.486536511492986,0\nBenin,2000,5.85999210110583,4.165404423\nBenin,2005,1.71157762807459,5.364520858\nBenin,2010,2.11019929660023,2.307356822\nBenin,2015,2.0958083832335,0.320398718\nBenin,2016,3.96485991037314,-0.93003312\nBermuda,2000,9.31715557653585,0\nBermuda,2005,1.67420714931701,0\nBermuda,2010,-2.09411353414293,0\nBermuda,2015,0,0\nBermuda,2016,0,0\nBhutan,2000,6.93302423977509,4.01099373\nBhutan,2005,7.12255964997142,5.311513063\nBhutan,2010,11.7308543603364,7.036383161\nBhutan,2015,6.59744848588674,4.521708543\nBhutan,2016,7.99070541132045,4.377452663\nBolivia,2000,2.50780755336397,4.608229989\nBolivia,2005,4.42143476697063,5.393231069\nBolivia,2010,4.12672256468305,2.501767027\nBolivia,2015,4.857187894912,4.060963726\nBolivia,2016,4.26391940393987,3.625239368\nBosnia and Herzegovina,2000,5.50000043583101,0\nBosnia and Herzegovina,2005,8.75823033528202,0\nBosnia and Herzegovina,2010,0.867983229916121,2.188537852\nBosnia and Herzegovina,2015,3.07674732008853,-0.851300819\nBosnia and Herzegovina,2016,3.14407738358227,-1.251444391\nBotswana,2000,1.98769585438754,8.601485149\nBotswana,2005,4.55664565732843,8.610225285\nBotswana,2010,8.56363174773267,6.948876587\nBotswana,2015,-1.69793059199191,3.060357042\nBotswana,2016,4.31550626955971,3.769304598\nBrazil,2000,4.11248423957215,7.044702451\nBrazil,2005,3.19646411192973,6.86734958\nBrazil,2010,7.54179863570165,5.038316946\nBrazil,2015,-3.54976724660112,9.027601288\nBrazil,2016,-3.46816285562616,8.739478523\nBritish Virgin Islands,2000,0,0\nBritish Virgin Islands,2005,0,0\nBritish Virgin Islands,2010,0,0\nBritish Virgin Islands,2015,0,0\nBritish Virgin Islands,2016,0,0\nBrunei Darussalam,2000,2.84942185782728,1.558152476\nBrunei Darussalam,2005,0.38750720823208,1.244437119\nBrunei Darussalam,2010,2.59896574643226,0.356869132\nBrunei Darussalam,2015,-0.566814608844453,-0.423925668\nBrunei Darussalam,2016,-2.46551470989569,-0.732323022\nBulgaria,2000,4.94055377635733,10.3162598\nBulgaria,2005,7.12351107638302,5.038843534\nBulgaria,2010,1.32408780093829,2.438990605\nBulgaria,2015,3.61745961453299,-0.104872333\nBulgaria,2016,3.94109784363204,-0.79852306\nBurkina Faso,2000,1.82024189276156,-0.304212168\nBurkina Faso,2005,8.66186160516736,6.415040184\nBurkina Faso,2010,5.37337312603059,-0.764230735\nBurkina Faso,2015,3.894548056942,0.954993317\nBurkina Faso,2016,5.92457756137202,-0.247073221\nBurundi,2000,-0.856864059223554,24.31768096\nBurundi,2005,0.900000002864005,13.52367836\nBurundi,2010,3.78590254312172,6.401249024\nBurundi,2015,-3.92114275053206,5.554204168\nBurundi,2016,-0.570434450658766,5.538485174\nCabo Verde,2000,14.2848688321225,-2.477456685\nCabo Verde,2005,6.91245798811823,0.418891613\nCabo Verde,2010,1.46679009706938,2.078664709\nCabo Verde,2015,1.00686372759751,0.132579722\nCabo Verde,2016,3.81747042782273,-1.407665505\nCambodia,2000,10.7119948019697,-0.791992529\nCambodia,2005,13.2500869136436,6.349255065\nCambodia,2010,5.96307857538696,3.99623008\nCambodia,2015,7.03608717929632,1.221270061\nCambodia,2016,6.95309439613069,3.021957401\nCameroon,2000,3.55337436416127,1.22719013\nCameroon,2005,2.02066230714679,2.013539502\nCameroon,2010,3.4225076411544,1.275380462\nCameroon,2015,5.6514637436283,2.685982772\nCameroon,2016,4.45045326629905,0.8657672\nCanada,2000,5.18269028580526,2.719439957\nCanada,2005,3.20138213653979,2.213552034\nCanada,2010,3.08351421988722,1.776871541\nCanada,2015,1.00088249407992,1.125241361\nCanada,2016,1.41410274557691,1.428759547\nCayman Islands,2000,0,0\nCayman Islands,2005,0,0\nCayman Islands,2010,0,0\nCayman Islands,2015,0,0\nCayman Islands,2016,0,0\nCentral African Republic,2000,-2.48943244028874,3.203400916\nCentral African Republic,2005,0.908210514871953,2.883520734\nCentral African Republic,2010,3.04663473280731,1.493233784\nCentral African Republic,2015,4.79988608115663,37.14221481\nCentral African Republic,2016,4.53128596327306,0\nChad,2000,-0.879681025444839,3.822600881\nChad,2005,17.3325337350837,7.890365675\nChad,2010,13.550100859549,-2.077865746\nChad,2015,2.7676756848447,3.669900434\nChad,2016,-6.25552708545281,0\nChannel Islands,2000,5.82664146877514,0\nChannel Islands,2005,1.37773415696212,0\nChannel Islands,2010,0,0\nChannel Islands,2015,0,0\nChannel Islands,2016,0,0\nChile,2000,5.32693841912362,3.843273473\nChile,2005,5.74283048945117,3.052573943\nChile,2010,5.84417729578996,1.409964751\nChile,2015,2.30525713839252,4.348867283\nChile,2016,1.26586760300135,3.786661771\nChina,2000,8.49150849150834,0.256518286\nChina,2005,11.3957759412304,1.813995156\nChina,2010,10.6361404632298,3.325774987\nChina,2015,6.90020481672437,1.437024514\nChina,2016,6.69999999999993,2\nColombia,2000,4.41999299958138,9.221133432\nColombia,2005,4.70655593383118,5.048116153\nColombia,2010,3.97180070473753,2.278220158\nColombia,2015,3.05201657329961,5.005030657\nColombia,2016,2.04305973323898,7.517452808\nComoros,2000,10.8480749512697,0\nComoros,2005,2.8374077642229,3.013323951\nComoros,2010,2.19999998173273,3.354757703\nComoros,2015,1.01511845919811,-8.11516927\nComoros,2016,2.20000002289547,0\n"Congo, Dem. Rep.",2000,-6.91092731652098,513.9068437\n"Congo, Dem. Rep.",2005,6.13515115548975,21.31681672\n"Congo, Dem. Rep.",2010,7.10797657621967,7.1\n"Congo, Dem. Rep.",2015,6.91618781038352,0\n"Congo, Dem. Rep.",2016,2.39937909800997,0\n"Congo, Rep.",2000,7.57598039215684,-0.881991517\n"Congo, Rep.",2005,7.75575897797003,3.094490115\n"Congo, Rep.",2010,8.75160145933471,0.425560659\n"Congo, Rep.",2015,2.64648587686472,4.514036066\n"Congo, Rep.",2016,-2.80001878768313,0\nCosta Rica,2000,3.73453301020578,10.99252429\nCosta Rica,2005,3.8708730663126,13.79797528\nCosta Rica,2010,4.95186384401947,5.660230651\nCosta Rica,2015,3.63169098917145,0.79668498\nCosta Rica,2016,4.15636150701233,-0.004186378\nCote d\'Ivoire,2000,-2.06840005678232,2.530775167\nCote d\'Ivoire,2005,1.72124736731733,3.885830399\nCote d\'Ivoire,2010,2.01763859205302,1.226456121\nCote d\'Ivoire,2015,8.84286544168236,1.237443262\nCote d\'Ivoire,2016,8.34211309645272,0.726187589\nCroatia,2000,3.75652268710564,4.611315547\nCroatia,2005,4.16370179629678,3.317178244\nCroatia,2010,-1.42044132368349,1.030555053\nCroatia,2015,2.34734962654298,-0.464499005\nCroatia,2016,3.16541782424224,-1.1\nCuba,2000,5.91476001879718,0\nCuba,2005,11.201656556128,0\nCuba,2010,2.39035229650723,0\nCuba,2015,4.4383335888395,0\nCuba,2016,0,0\nCuracao,2000,0,0\nCuracao,2005,0,0\nCuracao,2010,0,0\nCuracao,2015,0,0\nCuracao,2016,0,0\nCyprus,2000,5.7244017376602,4.141657647\nCyprus,2005,3.72431772568329,2.558451986\nCyprus,2010,1.31777780421926,2.381258363\nCyprus,2015,1.979063590438,-2.096997691\nCyprus,2016,3.39678770236453,-1.429166667\nCzech Republic,2000,4.26674135714225,3.902835019\nCzech Republic,2005,6.53346880592036,1.846170702\nCzech Republic,2010,2.27342005165725,1.408717924\nCzech Republic,2015,5.30923851909814,0.344782438\nCzech Republic,2016,2.593326020384,0.639352818\nDenmark,2000,3.74690021235362,2.924779141\nDenmark,2005,2.33666449082062,1.808805419\nDenmark,2010,1.87099263866214,2.297730121\nDenmark,2015,1.60660899433877,0.452034154\nDenmark,2016,1.96407712946747,0.25\nDjibouti,2000,0,0\nDjibouti,2005,0,3.104966401\nDjibouti,2010,0,3.950078759\nDjibouti,2015,9.68379811648174,-0.847389734\nDjibouti,2016,8.72226006105292,2.738412087\nDominica,2000,0.375310954197673,0.856946805\nDominica,2005,-0.0882423765572611,1.681900799\nDominica,2010,0.67254275850172,3.20744344\nDominica,2015,-2.54373467893738,-0.786338877\nDominica,2016,2.63845055605651,0.231336293\nDominican Republic,2000,4.6617622800146,7.724135662\nDominican Republic,2005,9.4282369467968,4.190202605\nDominican Republic,2010,8.33965105962218,6.329932201\nDominican Republic,2015,7.03337106918114,0.836746347\nDominican Republic,2016,6.61220822292972,1.614166072\nEast Asia & Pacific,2000,4.88257071634133,1.5750608255\nEast Asia & Pacific,2005,5.04994484762629,2.960865088\nEast Asia & Pacific,2010,7.06536606176546,3.247588424\nEast Asia & Pacific,2015,4.16457268009476,1.276227705\nEast Asia & Pacific,2016,4.10556347751199,1.638072033\nEast Asia & Pacific (excluding high income),2000,7.5061415805703,2.0271403665\nEast Asia & Pacific (excluding high income),2005,9.71775227474548,6.349255065\nEast Asia & Pacific (excluding high income),2010,9.77805182760554,3.789836348\nEast Asia & Pacific (excluding high income),2015,6.49287359430761,1.370823273\nEast Asia & Pacific (excluding high income),2016,6.33261349692845,2.063829787\nEcuador,2000,1.09180156435758,96.09411369\nEcuador,2005,5.29130826699402,2.407769783\nEcuador,2010,3.52529866894027,3.556123806\nEcuador,2015,0.0988726083462836,3.970219159\nEcuador,2016,-1.57637918304918,1.724430236\n"Egypt, Arab Rep.",2000,5.36799767240983,2.683805353\n"Egypt, Arab Rep.",2005,4.47896016350869,4.869396969\n"Egypt, Arab Rep.",2010,5.14510637007493,11.26518827\n"Egypt, Arab Rep.",2015,4.37201907790143,10.35748965\n"Egypt, Arab Rep.",2016,4.34664345555436,13.81463839\nEl Salvador,2000,1.126057050299,2.271287568\nEl Salvador,2005,2.7074677675286,4.690948709\nEl Salvador,2010,2.10621312325597,0.907806937\nEl Salvador,2015,2.37762895455052,-0.73063367\nEl Salvador,2016,2.58057736631731,0.603938659\nEquatorial Guinea,2000,18.2137799569674,4.802288869\nEquatorial Guinea,2005,16.7487006053541,5.631633514\nEquatorial Guinea,2010,-8.92417588851806,7.78916548\nEquatorial Guinea,2015,-9.08905879341432,1.668163737\nEquatorial Guinea,2016,-8.57588213036557,1.419916698\nEritrea,2000,-3.14198577404406,0\nEritrea,2005,2.57444953025514,0\nEritrea,2010,2.19419054483319,0\nEritrea,2015,0,0\nEritrea,2016,0,0\nEstonia,2000,10.5680749511053,4.019980616\nEstonia,2005,9.37371145418146,4.089689921\nEstonia,2010,2.25907589383118,2.975580329\nEstonia,2015,1.67428662282916,-0.456766653\nEstonia,2016,2.06326278488234,0.149108978\nEswatini,2000,1.76017376022224,12.20853585\nEswatini,2005,5.99877654987924,4.774004046\nEswatini,2010,3.79375496828149,4.509236918\nEswatini,2015,0.391128860553607,4.954437553\nEswatini,2016,1.36869407322355,7.84641182\nEthiopia,2000,6.07321749231046,0.662458109\nEthiopia,2005,11.8187659353249,12.94487921\nEthiopia,2010,12.5505383420508,8.136941131\nEthiopia,2015,10.3924630218107,10.13411465\nEthiopia,2016,7.56176669023149,7.266076144\nEuro area,2000,3.85859029278177,2.846721116\nEuro area,2005,1.70287229663775,2.489582068\nEuro area,2010,2.08470971903174,1.529639382\nEuro area,2015,2.08550244648744,0.037803733\nEuro area,2016,1.80097812417928,0.183334861\nEurope & Central Asia,2000,4.30062432825098,3.902835019\nEurope & Central Asia,2005,2.75862045028215,2.600957461\nEurope & Central Asia,2010,2.57786963333444,2.3902580255\nEurope & Central Asia,2015,1.96812700591057,0.218021424\nEurope & Central Asia,2016,1.82272805225816,0.378856363\nEurope & Central Asia (excluding high income),2000,8.01057876655564,18.70073428\nEurope & Central Asia (excluding high income),2005,7.13147531379246,8.247090431\nEurope & Central Asia (excluding high income),2010,5.16678850316899,6.419565094\nEurope & Central Asia (excluding high income),2015,0.566405765779749,4.003578207\nEurope & Central Asia (excluding high income),2016,1.50510237477053,1.282798834\nEuropean Union,2000,3.86506494522774,3.1567271685\nEuropean Union,2005,2.10888618673908,2.483518232\nEuropean Union,2010,2.1006176641601,1.669887361\nEuropean Union,2015,2.31611300682214,-0.0585336105\nEuropean Union,2016,1.9570705949959,0.2166674305\nFaroe Islands,2000,0,0\nFaroe Islands,2005,0,0\nFaroe Islands,2010,0,0\nFaroe Islands,2015,0,0\nFaroe Islands,2016,0,0\nFiji,2000,-1.69999854029383,1.0921646\nFiji,2005,0.700000383048405,2.365764538\nFiji,2010,2.95467207375202,3.680014831\nFiji,2015,3.84440702339393,1.370823273\nFiji,2016,0.380003448395996,3.864771418\nFinland,2000,5.63484745219101,3.367666887\nFinland,2005,2.77995503098056,0.861059229\nFinland,2010,2.99233750220186,1.210357625\nFinland,2015,0.135082255444829,-0.207164371\nFinland,2016,2.13538181526189,0.3569705\nFrance,2000,3.87516225892932,1.699411423\nFrance,2005,1.60771381370549,1.735587081\nFrance,2010,1.96565737641497,1.529639382\nFrance,2015,1.06746164702885,0.037803733\nFrance,2016,1.18765038087423,0.183334861\nFrench Polynesia,2000,4.0000003434361,0\nFrench Polynesia,2005,0,0\nFrench Polynesia,2010,0,0\nFrench Polynesia,2015,0,0\nFrench Polynesia,2016,0,0\nGabon,2000,-1.88296639760897,0.504920026\nGabon,2005,2.6762115645117,3.708333333\nGabon,2010,7.08869205327534,1.461544027\nGabon,2015,3.87925759519121,-0.298498343\nGabon,2016,2.08238031633867,2.106707128\n"Gambia, The",2000,5.50000017414997,0.844969567\n"Gambia, The",2005,-0.941675911734279,4.838621775\n"Gambia, The",2010,6.52629745205277,5.048936576\n"Gambia, The",2015,4.29999977289457,6.808721148\n"Gambia, The",2016,2.21633366332313,7.220092431\nGeorgia,2000,1.83834178668729,4.063962014\nGeorgia,2005,9.59964080415956,8.247090431\nGeorgia,2010,6.24941821993656,7.110178975\nGeorgia,2015,2.88031850904102,4.003578207\nGeorgia,2016,2.848973396234,2.134927139\nGermany,2000,2.96204536784524,1.471334348\nGermany,2005,0.70671394810023,1.546910755\nGermany,2010,4.07993330487069,1.103808561\nGermany,2015,1.74320539365993,0.234429945\nGermany,2016,1.94362542781317,0.483355422\nGhana,2000,3.70000011463813,25.19321937\nGhana,2005,5.90000395288151,15.11818572\nGhana,2010,7.89971191216314,10.70756812\nGhana,2015,3.83704086423404,17.1450737\nGhana,2016,3.72190290450574,17.47392384\nGibraltar,2000,0,0\nGibraltar,2005,0,0\nGibraltar,2010,0,0\nGibraltar,2015,0,0\nGibraltar,2016,0,0\nGreece,2000,3.91977077200825,3.166082521\nGreece,2005,0.599142055474161,3.54507305\nGreece,2010,-5.4790371077553,4.712981576\nGreece,2015,-0.290902296942548,-1.735902366\nGreece,2016,-0.24431474084669,-0.825657581\nGreenland,2000,7.10159688181619,0\nGreenland,2005,4.83381832205589,0\nGreenland,2010,1.73582505889665,0\nGreenland,2015,0.310109150260132,0\nGreenland,2016,7.66299889492275,0\nGrenada,2000,4.88795213650562,2.181818182\nGrenada,2005,13.2730638678244,3.525018553\nGrenada,2010,-0.511266454370613,3.436509059\nGrenada,2015,6.43796546053143,-0.62154377\nGrenada,2016,3.68378909298879,1.721291783\nGuam,2000,0,0\nGuam,2005,3.53546175273193,0\nGuam,2010,2.0916126333403,0\nGuam,2015,0.48477797168897,0\nGuam,2016,0.347356233114638,0\nGuatemala,2000,3.60886874513247,5.977577347\nGuatemala,2005,3.26011104289705,9.108649857\nGuatemala,2010,2.86990289259394,3.859509098\nGuatemala,2015,4.14004435825474,2.388720328\nGuatemala,2016,3.09248795890571,4.448441999\nGuinea,2000,2.50306056145635,0\nGuinea,2005,2.99727256157516,31.37330259\nGuinea,2010,4.82071541392241,15.46198107\nGuinea,2015,3.81494988965694,8.151969734\nGuinea,2016,10.4541058171845,8.129877159\nGuinea-Bissau,2000,5.42698736686771,8.636320949\nGuinea-Bissau,2005,4.26609893145407,3.329199228\nGuinea-Bissau,2010,4.61097090973794,2.517851402\nGuinea-Bissau,2015,6.13408294161364,1.404608873\nGuinea-Bissau,2016,6.26280564499115,1.694338806\nGuyana,2000,-1.37672751529253,6.14854333\nGuyana,2005,-1.95691115555377,6.925543039\nGuyana,2010,4.13844312103164,2.086666667\nGuyana,2015,3.16240778720626,-0.95739682\nGuyana,2016,3.31613165474852,0.738640603\nHaiti,2000,0.870059794681438,13.70772152\nHaiti,2005,1.80501122760435,15.72864619\nHaiti,2010,-5.49779233727389,5.696511023\nHaiti,2015,1.21121834315692,9.016518813\nHaiti,2016,1.45270702675029,13.83374255\nHeavily indebted poor countries (HIPC),2000,2.77745397721564,4.165404423\nHeavily indebted poor countries (HIPC),2005,6.13674453298316,8.448726423\nHeavily indebte

In [39]:
rds_connection_string = f'{UserName}:{Password}@{ServerName}:{port}/{DataBase}'
engine = create_engine(f'postgresql://{rds_connection_string}')

In [38]:
engine.table_names()

['Human_Development_Index', 'Economic', 'Suicide']